{% extends 'layout.html' %}
{% block title %}
Login
{% endblock %}
{% block toplinks %}
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
{% endblock %}

{% block addcss %} <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet"> {% endblock %}

{% block mainbody %} 
      <form name="login" class="form-signin" role="form" action="/login" method="POST">
        <h2 class="form-signin-heading">Login</h2>
        <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
{% endblock %}
