{% extends 'layout.html' %}
{% block title %}
Registration
{% endblock %}
{% block toplinks %}
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li class="active"><a href="/register">Register</a></li>
{% endblock %}

{% block addcss %} <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet"> {% endblock %}

{% block mainbody %}
    
    <div class="row">
        <div class="col-md-7">
            <h3>Registration Form</h3>
            <p class="text-left">Rules for entering your username and password are as follows:
                <ol>
                    <li>Username must be within 5 to 25 characters in length.</li>
                    <li>Username can only contain letters and digits.</li>
                    <li>Password must be within 5 to 25 characters in length.</li>
                    <li>Password must contain at least one capital letter, digit, and special character.</li>
                </ol>
            </p>
        </div>
    </div>

    <form     name = "register" 
              class = "form-horizontal" 
              role = "form"
              method = "POST"
              action = "/register">

        <div class = "form-group">
            <label class="col-sm-3 control-label">
                <p class="text-left">
                    Username:
                </p>
            </label>
            <div class="col-sm-5">
                <input  name = "username"
                        type = "text" 
                        class = "form-control" 
                        placeholder = "Username" 
                        required autofocus>
            </div>
        </div>

        <div class = "form-group">
            <label class="col-sm-3 control-label">
                <p class="text-left">
                    Password:
                </p>
            </label>
            <div class="col-sm-5">
                <input  name = "password"
                        type = "password" 
                        class = "form-control" 
                        placeholder = "Password" 
                        required autofocus>
            </div>
        </div>

        <div class = "form-group">
            <label class="col-sm-3 control-label">
                <p class="text-left">
                    Verify Password:
                </p>
            </label>
            <div class="col-sm-5">
                <input  name = "check"
                        type = "password" 
                        class = "form-control" 
                        placeholder = "Retype Password" 
                        required autofocus>
            </div>
        </div>
        
        {% if request.args.get('message') %}
            <p class="text-left">
                <strong>{{request.args.get('message')}}</strong>
            </p>
        {% endif %}

        <div class = "form-group">
            <div class="col-sm-8">
                <button type="submit" class="btn btn-sm btn-block btn-primary btn-default">Register</button>
            </div>
        </div>
    </form>
{% endblock %}
