{% extends 'layout.html' %}
{% block title %}
Registration
{% endblock %}
{% block toplinks %}
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li class="active"><a href="/register">Register</a></li>
{% endblock %}

{% block addcss %} <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet"> {% endblock %}

{% block mainbody %}  		
      <form name="register" class="form-signin" role="form" action="/register" method="POST">
        <h2 class="form-signin-heading">Registration</h2>
        <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <input name="check" type="password" class="form-control" placeholder="Retype Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>
{% endblock %}
