{% extends 'layout2.html' %}

{% block toplinks %}
    <li><a href="/">Home</a></li>
    {% if not session['username'] %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    {% else %}
        {% if session['isadmin'] %}
            <li class="active"><a href="/roles">Manage Roles</a></li>
        {% endif %}
        {% if session['role'] == "Admin" or session['role'] == "Sales" %}
            <li><a href="/carmanage">Manage Cars</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/service">Service</a><li>
        {% endif %}
        <li><a href="/carview">View Cars</a></li>
        <li><a href="/logout">Logout</a></li>
    {% endif %}
{% endblock %}

{% block mainbody %}
    <div class="row">
        <div class="col-md-7">
            <h3>Role Manager</h3>
            <p class="text-left">
               Each user can be assigned a role with different access and permission levels within the system.
            </p>
            <dl class="dl-horizontal">
              <dt>Admin</dt>
              <dd>Full access to the entire system.</dd>
              <dt>Sales</dt>
              <dd>Access to car inventory, orders, and services.</dd>
              <dt>Guest</dt>
              <dd>Access to browse the car inventory only.</dd> 
            </dl>

            {% if message %}
                <h3>Role Changed</h3>
                <p class="text-left">
                    {{message}}
                </p>
            {% endif %}
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Role</th>
                </tr>
            </thead>
            {% for user in User.query.all() %}
            <tr>
                <td>{{ user.uname }}</td>
                <td>
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                          {{ user.role }} <span class="caret"></span>
                      </button>
                        <ul class="dropdown-menu">
                             <li><a href="/roles?username={{ user.uname }}&newrole=Admin">Admin</a></li>
                             <li><a href="/roles?username={{ user.uname }}&newrole=Sales">Sales</a></li>
                             <li><a href="/roles?username={{ user.uname }}&newrole=Guest">Guest</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div> 
{% endblock %}