{% extends 'layout2.html' %}
{% block mainbody %}
<br><br><br><br>

<div class="panel panel-default">
    <div class="panel-heading">Order Manager</div>
    <div class="panel-body">
    <p>Here you can access all current car inventory orders<br>

       To add an order: <a href="/ordergen">Generate Order</a><br>

       To view history of all past orders: <a href="/orderhistory">Order History</a><br>
    </p>
    </div>

    <table class="table">
    <thead>
        <tr>
            <th>Vin</th>
            <th>Customer Name<!-- may link to customer info page !--></th>
            <th>Sales Name</th>
            <th>Sale Price</th>
            <th>Order Status</th>
            <th>Last Modified</th>
            <th>Action</th>
        </tr>
    </thead>
             

{% endblock %}
