{% extends 'layout2.html' %}
{% block mainbody %}
    <br><br><br><br>

    <form class="form-group col-lg-4" method="POST" action="/addfeatures?vin={{ vin }}">
    <fieldset>

    <legend>AddFeatures for {{ vin }}</legend>

    <div class="control-group">
      <label class="control-label" for="textinput">Performance</label>
      <div class="controls">
        <textarea name="performance" placeholder="Performance" class="form-control" type="text">
{% if 'performance' in feats %}{{ feats['performance'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in performance features.</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textinput">Handling</label>
      <div class="controls">
        <textarea name="handling" placeholder="Handling" class="form-control" type="text">
{% if 'handling' in feats %}{{ feats['handling'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in handling features</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textinput">Instrumentation and Controls</label>
      <div class="controls">
        <textarea name="instrument" placeholder="Instrumentation and Controls" class="form-control" type="text">
{% if 'instrument' in feats %}{{ feats['instrument'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in instrumentation and controls features.</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textinput">Safety and Security</label>
      <div class="controls">
        <textarea name="safety" placeholder="Safety and Security" class="form-control" type="text">
{% if 'safety' in feats %}{{ feats['safety'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in safety and security features.</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textinput">Exterior Design</label>
      <div class="controls">
        <textarea name="extdesign" placeholder="Exterior Design" class="form-control" type="text">
{% if 'extdesign' in feats %}{{ feats['extdesign'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in exterior design features</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textinput">Interior Design</label>
      <div class="controls">
        <textarea name="intdesign" placeholder="Interior Design" class="form-control" type="text">
{% if 'intdesign' in feats %}{{ feats['intdesign'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in interior design features</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textinput">Audio System</label>
      <div class="controls">
        <textarea name="audio" placeholder="Audio System" class="form-control" type="text">
{% if 'audio' in feats %}{{ feats['audio'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in audio system features</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textinput">Comfort and Convenience</label>
      <div class="controls">
        <textarea name="comfort" placeholder="Comfort and Convenience" class="form-control" type="text">
{% if 'comfort' in feats %}{{ feats['comfort'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in comfort and convenience features</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textinput">Maintenance Programs</label>
      <div class="controls">
        <textarea name="maintenance" placeholder="Maintenance Programs" class="form-control" type="text">
{% if 'maintenance' in feats %}{{ feats['maintenance'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in maintenance program features</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textinput">Warranties</label>
      <div class="controls">
        <textarea name="warranties" placeholder="Warranties" class="form-control" type="text">
{% if 'warranties' in feats %}{{ feats['warranties'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in warranty features</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textinput">Extra Packages</label>
      <div class="controls">
        <textarea name="extras" placeholder="Extra Packages" class="form-control" type="text">
{% if 'extras' in feats %}{{ feats['extras'] }}{% endif %}
        </textarea>
        <p class="help-block">Enter in extra package features</p>
      </div>
    </div>  
    <div class="form-group">
        <div class="col-lg-4">
          <button type="submit" class="btn btn-default">Add/Mod Features</button>
        </div>
      </div>

  </fieldset>
  </form>
{% endblock %}
