{% extends 'layout2.html' %}
{% block mainbody %}
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3">
                <div class="form-group custom-search-form">
                  <form class="form-horizontal" name="search" method="GET" action="/carview">
                        <input type="text" name="keywords" placeholder="Search" class="form-control">
                        <input type="button" name="submit" value="Submit">
                  </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% if vins %}
            {% for car in Car.query.all() %} 
                {% for vin in vins %}
                    {% if car.vin == vin %}
                    <br><br>
                    <div class="row">
                        <div class="col-md-4">
                                <a href="#" class="thumbnail">
                                <img src=static/images/{{ CarPics.query.filter_by(vin=vin).first().picname }}
                                alt="Generic placeholder thumbnail">
                                </a>
                        </div>
                                <div class="col-md-4">
                                <p><b>Vin:</b> {{ car.vin }} <br> 
                                   <b>Make:</b> {{ car.make }} <b>Model:</b> {{ car.model }} <br>
                                   <b>Year:</b> {{ car.year }}
                                </p>
                                </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>    

{% endblock %}
