{% extends 'layout.html' %}
{% block title %}
{% if session['username'] %}
   Welcome {{ session['username'] }}
{% else %}
   Please log in to get started.
{% endif %}
{% endblock %}
{% block toplinks %}
            <li class="active"><a href="/">Home</a></li>
            {% if not session['username'] %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {% else %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
{% endblock %}
{% block mainbody %}
    <br><br>
    <h1>{{ msg }}</h1>
{% endblock %} 
