{% extends 'layout2.html' %}
{% block mainbody %}
    <br><br><br><br>

    <form class="form-group col-lg-4 col-lg-offset-3" name="addcar" action="/caradd" method="POST"> 
    
      <form class="form-horizontal" role="form">
      <fieldset>
      <legend>Insert Information For New Car In Inventory</legend>
      <div class="control-group">
        <label class="control-label" for="textinput">Vin Number</label>
        <div class="controls">
          <input type="text" name="vin" placeholder="Vin Number">
          <p class="help-block">Enter in the vin number.</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="textinput">Make</label>
        <div class="controls">
          <input type="text" name="make" placeholder="Make">
          <p class="help-block">Enter in the make of the car.</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="textinput">Model</label>
        <div class="controls">
          <input type="text" name="model" placeholder="Model">
          <p class="help-block">Enter in the model of the car.</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="textinput">Year</label>
        <div class="controls">
          <input type="text" name="year" placeholder="Year">
          <p class="help-block">Enter in the year of the car.</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="textinput">Retail Price</label>
        <div class="controls">
          <input type="text" name="retail" placeholder="Retail Price">
          <p class="help-block">Enter in the retail price of the car.</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-4">
          <button type="submit" class="btn btn-default">Add Car</button>
        </div>
      </div>
    </fieldset>
      
    </form>


{% endblock %}
