{% extends 'layout2.html' %}
{% block mainbody %}
    <br><br><br><br>

    <div class="panel panel-default">
        <div class="panel-heading">Car Manager</div>
        <div class="panel-body">
        <p>Here you can modify cars in inventory.<br>
        
           To add a car: <a href="/caradd">Add a car.</a> 

        </p>
        </div>

        <table class="table">
        <thead>
            <tr>
                <th><a href="{{ url_for("carmanage") + "/" + cars.page|string + "?sort=vin" }}">Vin</a></th>
                <th><a href="{{ url_for("carmanage") + "/" + cars.page|string + "?sort=make" }}">Make</a></th>
                <th><a href="{{ url_for("carmanage") + "/" + cars.page|string + "?sort=model" }}">Model</a></th>
                <th><a href="{{ url_for("carmanage") + "/" + cars.page|string + "?sort=year" }}">Year</a></th>
                <th><a href="{{ url_for("carmanage") + "/" + cars.page|string + "?sort=retail" }}">Retail Price</a></th>
                <th>Action</th>
            </tr>
        </thead>
        {% for car in cars.items %}
        {% if car.avail_purchase %}
        <tr>
            <td><a href="{{ url_for("indicar") }}?vin={{ car.vin }}">{{ car.vin }}</a></td>
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.retail }}</td>
            <td>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                      Select... <span class="caret"></span>
                  </button>
                    <ul class="dropdown-menu">
                         <li><a href="/carmod?vin={{ car.vin }}">Modify</a></li>
                         <li><a href="/addfeatures?vin={{ car.vin }}">Add/Modify Features</a></li>
                         <li><a href="/upload?vin={{ car.vin }}">Upload Pictures</a></li>
                         <li><a href="/cardel?vin={{ car.vin }}">Delete</a></li>
                    </ul>
                </div>
            </td>
 
        </tr>
        {% endif %}
        {% endfor %}
        
        </table>
        </div>

        <div class="col-lg-4 col-lg-offset-5"> 
        <ul class="pagination">
        {% if cars.has_prev %}
            <li class="previous"><a href="{{ url_for("carmanage", page=cars.prev_num) }}">Previous</a></li>{% endif %}
        {% if cars.has_next %}
            <li class="next"><a href="{{ url_for("carmanage", page=cars.next_num) }}">Next</a></li>{% endif %}
        </ul>
        </div>
        

{% endblock %} 
