{% extends 'layout2.html' %}
{% block mainbody %}
    <br><br><br><br>

    {% if action == "add" %}

    <!-- Insert add logic html here !-->

    <form class="form-group col-lg-4 col-lg-offset-3" name="addcar" action="/carmanage?action=add" method="POST"> 
    
      <form class="form-horizontal" role="form">
      <fieldset>
      <legend>Insert Information For New Car In Inventory</legend>
      <div class="control-group">
        <label class="control-label" for="textinput">Vin Number</label>
        <div class="controls">
          <input type="text" name="vin" placeholder="Vin Number">
          <p class="help-block">Enter in the vin number.</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="textinput">Make</label>
        <div class="controls">
          <input type="text" name="make" placeholder="Make">
          <p class="help-block">Enter in the make of the car.</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="textinput">Model</label>
        <div class="controls">
          <input type="text" name="model" placeholder="Model">
          <p class="help-block">Enter in the model of the car.</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="textinput">Year</label>
        <div class="controls">
          <input type="text" name="year" placeholder="Year">
          <p class="help-block">Enter in the year of the car.</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="textinput">Retail Price</label>
        <div class="controls">
          <input type="text" name="retail" placeholder="Retail Price">
          <p class="help-block">Enter in the retail price of the car.</p>
        </div>
      </div>


      <!--<div class="form-group">
        <label class="form-label" for="textinput">VIN Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="vin" placeholder="Vin Number">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" name="make" placeholder="Make">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" name="model" placeholder="Model">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" name="year" placeholder="Year">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" name="retail" placeholder="Retail Price">
        </div>
      </div> !-->
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-4">
          <button type="submit" class="btn btn-default">Add Car</button>
        </div>
      </div>
    </fieldset>
      
    </form>

    {% elif action == "modify" %}
        
        <form class="col-lg-4 col-lg-offset-3" name="modcar" action="/carmanage?action=modify" method="POST"> 
    
        <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" name="vin" value={{ car.vin }} placeholder="Vin Number">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" name="make" value={{ car.make }} placeholder="Make">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" name="model" value={{ car.model }} placeholder="Model">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" name="year" value={{ car.year }} placeholder="Year">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" name="retail" value={{ car.retail }} placeholder="Retail Price">
        </div>
      </div>
      <br><br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Modify Car</button>
        </div>
      </div>
      
    </form>

    {% else %}

    <div class="panel panel-default">
        <div class="panel-heading">Car Manager</div>
        <div class="panel-body">
        <p>Here you can modify cars in inventory.<br>
        
           To add a car: <a href="/caradd">Add a car.</a> 

        </p>
        </div>

        <table class="table">
        <thead>
            <tr>
                <th>Vin</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Retail Price</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for car in Car.query.all() %}
        <tr>
            <td>{{ car.vin }}</td>
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.retail }}</td>
            <td>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                      Select... <span class="caret"></span>
                  </button>
                    <ul class="dropdown-menu">
                         <li><a href="/carmod?vin={{ car.vin }}">Modify</a></li>
                         <li><a href="/addfeatures?vin={{ car.vin }}">Add/Modify Features</a></li>
                         <li><a href="/upload?vin={{ car.vin }}">Upload Pictures</a></li>
                         <li><a href="/cardel?vin={{ car.vin }}">Delete</a></li>
                    </ul>
                </div>
            </td>
 
        </tr>
        {% endfor %}
        
        </table>
    </div>

    {% endif %}
       
{% endblock %} 
