{% extends 'layout2.html' %}
{% block title %}Catalog{% endblock %}
{% block toplinks %}
   <li><a href="/">Home</a></li>
   {% if not session['username'] %}
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
   {% else %}
      {% if session['isadmin'] %}
         <li><a href="/roles">Role</a></li>
      {% endif %}
      {% if session['role'] == "Admin" or session['role'] == "Sales" %}
         <li><a href="/carmanage">Car</a></li>
         <li><a href="/orders">Order</a></li>
         <li><a href="/service">Service</a><li>
      {% endif %}
      <li class="active"><a href="/carview">Catalog</a></li>
      <li><a href="/logout">Logout</a></li>
   {% endif %}
{% endblock %}

{% block addcss %} <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet"> {% endblock %}

{% block mainbody %}
   {% if car_list is defined %}
      <table class="table">
         <thead>
            <tr>
               <th>Vin</th>
               <th>Make</th>
               <th>Model</th>
               <th>Year</th>
               <th>Retail Price</th>
            </tr>
         </thead>

         {% for car in car_list %}
            {% if car.avail_purchase %}
               <tr>
                  <td><a href="{{ url_for("indicar") }}?vin={{ car.vin }}">{{ car.vin }}</a></td>
                  <td>{{ car.make }}</td>
                  <td>{{ car.model }}</td>
                  <td>{{ car.year }}</td>
                  <td>{{ car.retail }}</td>
               </tr>
            {% endif %}
         {% endfor %}
      </table>
   {% endif %}
   <div class="row">
      <div class="col-md-7">
         <h3>Search Form</h3>
         <p class="text-left">Wolf-fencing search procedure.</p>
      </div>
   </div>

   <form name = "viewcar" class = "form-horizontal" role = "form" method = "POST" action = "/carview">
      <div class="form-group">
         <label class="col-sm-3 control-label"><p class="text-left">Automobile Make</p></label>
         {% if not make is defined %}
            <div class="col-sm-5">
               <select class="form-control" name = "make">
                  {% for make in make_list %}
                     <option>{{make[0]}}</option>
                  {% endfor %}
               </select>
            </div>
         {% else %}
            <div class="col-sm-5">
               <select class="form-control" name = "make">
                  <option selected>{{make}}</option>
               </select>
            </div>
         {% endif %}
      </div>

      <div class="form-group">
         <label class="col-sm-3 control-label"><p class="text-left">Automobile Model</p></label>
         {% if not model is defined %}
            <div class="col-sm-5">
               <select class="form-control" name = "model">
                  {% for model in model_list %}
                     <option>{{model[1]}}</option>
                  {% endfor %}
               </select>
            </div>
         {% else %}
            <div class="col-sm-5">
               <select class="form-control" name = "model"><option selected>{{model}}</option></select>
            </div>
         {% endif %}
      </div>   
      
      <div class="form-group">
         <label class="col-sm-3 control-label"><p class="text-left">Automobile Year</p></label>
         {% if not year is defined %}
            <div class="col-sm-5">
               <select class="form-control" name = "year">
                  {% for year in year_list %}
                     <option>{{year[2]}}</option>
                  {% endfor %}
               </select>
            </div>
         {% else %}
            <div class="col-sm-5">
               <select class="form-control" name = "year">
                  <option selected>{{year}}</option>
               </select>
            </div>
         {% endif %}
      </div>

      {% if not year is defined %}
         <div class = "form-group">
            <div class="col-sm-8">
                <button type="submit" class="btn btn-sm btn-block btn-primary btn-default">Refine Search</button>
            </div>
         </div>
      {% else %}
         <div class = "form-group">
            <div class="col-sm-8">
                <a href="/carview" class = "btn btn-block btn-primary btn-info">Start new search.</a>
            </div>
         </div>
         {% for car in vin_list %}
            <div class="row">
               {% if car.pics %}
                  <div class="col-md-7">
                     <a class="thumbnail" href="#"><img alt="" src="static/images/{{ car.pics[0].picname }}"></a>
                  </div>
               {% endif %}

               <div class="col-md-7">
                  <p class="text-left">
                     <h2>{{ car.vin }} at ${{ car.retail }}</h2>
                  </p>
               </div>

               {% for feat in car.features %}
                  <div class="col-md-7">
                     <p class="text-left">
                        <dl>
                           <dt>{{ feat.feat_type }}</dt>
                           <dd>{{ feat.descr }}</dd> 
                        </dl>
                     </p>
                  </div>
               {% endfor %}
            </div>
         {% endfor %}
      {% endif %}
   </form>
{% endblock %}