{% extends 'layout2.html' %}

{% block toplinks %}
    <li><a href="/">Home</a></li>
    {% if not session['username'] %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    {% else %}
        {% if session['isadmin'] %}
            <li><a href="/roles">Manage Roles</a></li>
        {% endif %}
        {% if session['role'] == "Admin" or session['role'] == "Sales" %}
            <li class="active"><a href="/carmanage">Manage Cars</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/service">Service</a><li>
        {% endif %}
        <li><a href="/carview">View Cars</a></li>
        <li><a href="/logout">Logout</a></li>
    {% endif %}
{% endblock %}

{% block addcss %} <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet"> {% endblock %}

{% block mainbody %}
<div class='row'>
   <div class="panel panel-default">
      <div class='col-md-7'>
         <div class="carousel slide media-carousel" id="media">
            <div class="carousel-inner">
               {% if panels <= 1 %}
                  <div class="item active">
                     <div class="row">
                        {% if panels == 1 %}
                           {% for num in range(3) %}
                              <div class="col-md-4">
                                 <a class="thumbnail" href="#"><img alt="" src="static/images/{{ pics[num].picname }}"></a>
                              </div>          
                           {% endfor %}
                        {% endif %}
                     </div>
                  </div>

                  {% if extras %}
                     <div class="row">
                        {% for num in range(extras) %}
                           <div class="col-md-4">
                              <a class="thumbnail" href="#"><img alt="" src="static/images/{{ pics[panels*3 + num].picname }}"></a>
                           </div>          
                        {% endfor %}
                     </div>
                  {% endif %}
               {% elif panels > 1 %}
                  <div class="item active">
                     <div class="row">
                        <div class="col-md-4">
                           <a class="thumbnail" href="#"><img alt="" src="static/images/{{ pics[0].picname }}"></a>
                        </div>          
                        <div class="col-md-4">
                           <a class="thumbnail" href="#"><img alt="" src="static/images/{{ pics[1].picname }}"></a>
                        </div>
                        <div class="col-md-4">
                           <a class="thumbnail" href="#"><img alt="" src="static/images/{{ pics[2].picname }}"></a>
                        </div>        
                     </div>
                  </div>

                  {% for num in range(1,panels) %}
                     <div class="item">
                        <div class="row">
                           <div class="col-md-4">
                              <a class="thumbnail" href="#"><img alt="" src="static/images/{{ pics[num*3].picname }}"></a>
                           </div>          
                           <div class="col-md-4">
                              <a class="thumbnail" href="#"><img alt="" src="static/images/{{ pics[num*3 + 1].picname }}"></a>
                           </div>
                           <div class="col-md-4">
                              <a class="thumbnail" href="#"><img alt="" src="static/images/{{ pics[num*3 + 2].picname }}"></a>
                           </div>        
                        </div>
                     </div>
                  {% endfor %}

                  {% if extras %}
                     <div class="item">
                        <div class="row">
                           {% for num in range(extras) %}
                              <div class="col-md-4">
                                 <a class="thumbnail" href="#"><img alt="" src="static/images/{{ pics[panels*3 + num].picname }}"></a>
                              </div>          
                           {% endfor %}
                        </div>
                    </div>
                  {% endif %}
               {% endif %}
            </div>                          
         </div>
         <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
         <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>
   </div>
</div>

<div class="row">
   <div class="panel panel-default">
      <div class="col-md-7">
         <p class="text-left">
            <h3>Basic Car Information</h3>
            <dl class="dl-horizontal">
               <dt>VIN</dt>
               <dd>{{ car.vin }}</dd> 
               <dt>Make</dt>
               <dd>{{ car.make }}</dd> 
               <dt>Model</dt>
               <dd>{{ car.model }}</dd> 
               <dt>Year</dt>
               <dd>{{ car.year }}</dd> 
               <dt>Retail Price</dt>
               <dd>{{ car.retail }}</dd> 
            </dl>
         </p>
      </div>

      {% if feats.first() %}
         {% for feat in feats %}
            <div class="col-md-7">
               <p class="text-left">
                  <dl class="dl-horizontal">
                     <dt>{{ feat.feat_type }}</dt>
                     <dd>{{ feat.descr }}</dd> 
                  </dl>
               </p>
            </div>
         {% endfor %}
      {% endif %}
   </div>
</div>
{% endblock %}