{% extends 'layout.html' %}

{% block title %}
    {% if session['username'] %}
       Welcome {{ session['username'] }}
    {% else %}
       Please log in to get started.
    {% endif %}
{% endblock %}

{% block toplinks %}
    <li class="active"><a href="/">Home</a></li>
    {% if not session['username'] %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    {% else %}
        {% if session['isadmin'] %}
            <li><a href="/roles">Manage Roles</a></li>
        {% endif %}
        {% if session['role'] == "Admin" or session['role'] == "Sales" %}
            <li><a href="/carmanage">Manage Cars</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/service">Service</a><li>
        {% endif %}
        <li><a href="/carview">View Cars</a></li>
        <li><a href="/logout">Logout</a></li>
    {% endif %}
{% endblock %}